# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [67]:
from xml.etree import ElementTree as ET
import numpy as np
import pandas as pd

In [68]:
# This line I learnd from the youtube tutorial https://www.youtube.com/watch?v=5JnMutdy6Fw

from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [9]:
document = ET.parse( './data/mondial_database.xml' )

** Answer to Q#1 **

In [58]:
# The root of the document:
root=document.getroot()

# The nested list 
d=[['country','infant_mortality']]

In [59]:
# iterate over the XML file.
# if the country has no infant_mortality, then put a numpy NaN in it

for child in root.iterfind('country'):
    country=child.find('name').text
    mortality=child.find('infant_mortality')
    da=[]
    da.append(country)
    if mortality==None:
        da.append(np.nan)
    else:
        moartality=float(mortality.text)
        da.append(moartality)
    d.append(da)

In [69]:
# convert the dictionary to pandas dataframe

df=pd.DataFrame(d[1:],columns=d[0])
df.head()

      country  infant_mortality
0     Albania             13.19
1      Greece              4.78
2   Macedonia              7.90
3      Serbia              6.16
4  Montenegro               NaN

In [71]:
df.sort_values('infant_mortality').head(10)

            country  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15

** Answer to Q#2**

In [123]:
# nested list for city and population

d=[['city','pop','year']]

In [124]:
# find out the city and population in the year 2011

for child in root.iter('city'):
    city=child.find('name').text
    pop=child.findall('population')
    da=[]
    da.append(city)
    if pop==[]:
        da.append(np.nan)
    else:
        maximum = -1
        for elem in pop:
            if int(elem.text) > maximum:
                maximum = int(elem.text)
                year = elem.attrib['year']
        da.append(maximum)
        da.append(year)
    d.append(da)

In [125]:
df_pop=pd.DataFrame(d[1:],columns=d[0])
df_pop.head()
df_pop.loc[165,:]

city    Ústí nad Labem
pop              98596
year              2011
Name: 165, dtype: object

In [128]:
# I find out the maximum population for each city in different year
# Otherwise, it is hard to make a comparison

df_pop.sort_values('pop',ascending=False).head(10)

           city         pop  year
1341   Shanghai  22315474.0  2010
771    Istanbul  13710512.0  2012
1582      Delhi  12877470.0  2001
1527     Mumbai  12442373.0  2011
479      Moskva  11979529.0  2013
1340    Beijing  11716620.0  2010
2810  São Paulo  11152344.0  2010
1342    Tianjin  11090314.0  2010
1064  Guangzhou  11071424.0  2010
1067   Shenzhen  10358381.0  2010

** Anwser to Q#3 **

In [175]:
# nested list for city and population

d=[['ethnic','pop']]

In [176]:
Ethinic=[]

for child in root.iter('country'):
    ethnic=child.findall('ethnicgroup')
    pop=child.findall('population')
    
    if (ethnic!=[] and pop!=[]):
        maximum = -1
        for elem in pop:
            if int(elem.text) > maximum:
                maximum = int(elem.text)
        population=maximum
    
        for item in ethnic:
            da=[]
            da.append(item.text)
            da.append(float(item.attrib['percentage'])*population/100.00)
    
            d.append(da)

In [177]:
df_ethinic=pd.DataFrame(d[1:],columns=d[0])
df_ethinic=df_ethinic.groupby('ethnic').sum().sort_values('pop',ascending=False)
df_ethinic.head(10)

                      pop
ethnic
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.949395e+08
African      3.183597e+08
Dravidian    3.027137e+08
Mestizo      1.578553e+08
Bengali      1.467769e+08
Russian      1.368666e+08
Japanese     1.272890e+08
Malay        1.219936e+08

** Answer to Q#4 **

In [ ]:
# the basic nested list for dataframe

d=[['country','river']]